@import './../../styles/media';

.footer__menu {
        &_list {
            display: flex;
            align-items: center;
            column-gap: 40px;

            @include mobile {
                flex-direction: column;
                row-gap: 15px;
            }
        }

        &_link {
            display: inline-flex;
            text-decoration: underline;
            align-items: center;
            height: 30px;

            @include hover {
                color: var(--color-accent);
            }
        }
    }

